

	   #Stroka01 {background-color: #F4FC04; 
			box-shadow: 0px 0px 0px 5px #0ea8f4; 
			border: 5px #00B344  solid; 
			width:560px; 
			padding: 5px 5 5px 10px;
			border-radius: 10px;
			
			}
			
	
	   #Stroka02 {background-color: #F4FC04; 
			box-shadow: 0px 0px 0px 5px #0ea8f4; 
			border: 5px #00B344  solid; 
			width:560px; 
			padding: 5px 5 5px 10px;
			border-radius: 10px;} 	
			
			
			
	   
	   #StrokaAvatar {background-color: #F4FC03; 
	   border: 5px #00B344  ridge; 
	   width: 150px; 
       padding: 5px 0 5px 5px; 
	   margin: 5px 10 10 10px; 
	   text-shadow: 1px 1px #94a7af;
	   
	   }
	   
	   #BlokiZagruzok {background-color: #F4FC04; 
	   box-shadow: 0px 0px 0px 1px #0ea8f4; 
	   border: 0px #00B344  solid; 
	   padding: 1px 0 0px 1px;
	   
	   }
	   
html {
background: url(nebo_002.jpg);	  

-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;	  
}
  
         #visual_mir_local_nachalnaya_locasiya {position: absolute; top: 300; left: 400;}
		 #visual_oblast_local_nachalnaya_locasiya {position: absolute; top: 300; left: 400;}
		 #visual_raion_local_nachalnaya_locasiya {position: absolute; top: 300; left: 400;}
		  
		  #visual_lvl_god_1 {position: absolute; top: 30; left: 30;}
		  
		  #visual_god_hp {position: absolute; top: 70; left: 30;}
          #visual_god_bron {position: absolute; top: 90; left: 30;}
          #visual_god_uron {position: absolute; top: 110; left: 30;}
		  #visual_god_mana {position: absolute; top: 130; left: 30;}	
		  #visual_god_n_mana {position: absolute; top: 150; left: 30;}	
		  #visual_god_jar_uron {position: absolute; top: 170; left: 30;}
		  #visual_god_vnimanie {position: absolute; top: 190; left: 30;}
          #visual_god_udacha  {position: absolute; top: 210; left: 30;}
          #visual_people_bonus_all_god_resurs_vip  {position: absolute; top: 230; left: 30;}		  
		  #visual_poluchenie_opit  {position: absolute; top: 250; left: 30;}	
		  
		  
		  #visual_os_god_opit_lvl_vip {position: absolute; top: 80; left: 30;}
		  #visual_os_god_res_vip {position: absolute; top: 100; left: 30;}
		  

		    #visual_stats_heroes {position: absolute; top: 20; left: 390;}
			
			#visual_god_ok {position: absolute; top: 10; left: 400;} 
			#visual_sklad {position: absolute; top: 30; left: 400;}		
		    #visual_navik_heroes {position: absolute; top: 30; left: 400;}
			
			
			#visual_all_terras {position: absolute; top: 30; left: 100; color: #FFFFFF;}
	        .visual_all_terras {color: #FFFFFF;}
			
	         
			 
			
			 
			 
			 
	#visual_all_god_resurs_vip {position: absolute; top: 50; left: 30;}		 
	#visual_god_serebro {position: absolute; top: 70; left: 30;}
	#visual_god_zoloto {position: absolute; top: 90; left: 30;}
	#visual_god_kamen {position: absolute; top: 110; left: 30;}
	#visual_god_kristals {position: absolute; top: 130; left: 30;}
	#visual_god_platina {position: absolute; top: 150; left: 30;}
	#visual_god_pitomes_suchnost {position: absolute; top: 170; left: 30;}
	#visual_god_relikvii_suchnost {position: absolute; top: 190; left: 30;}
	#visual_god_zveznaya_kroshka {position: absolute; top: 210; left: 30;}
	#visual_god_random {position: absolute; top: 300; left: 390;}
	
			 

	#slot_orujie {position: absolute; top: 10; left: 500; border: 3px solid blue;}
	#slot_mech_siluet {position: absolute; top: 18; left: 510;}		 
	.wrapper_opit_slot_orujie {margin: 20px;}
	#bar_opit_slot_orujie {
	    position: absolute; top: 115px; left: 500px;
		width: 100px;
		height: 10px;
		border: 3px solid #1B1DB6;
		}
	#polosa_opit_slot_orujie {height: 10px;}	
	#visual_level_god_oruzie {position: absolute; top: 123; left: 510; font-size: 10px;}
	#visual_item_god_oruzie {position: absolute; top: 123; left: 570; font-size: 10px;}

	
	#slot_obod {position: absolute; top: 10; left: 603; border: 3px solid blue;}
	#slot_obod_siluet {position: absolute; top: 18; left: 609;}		 
	.wrapper_opit_slot_obod {margin: 20px;}
	#bar_opit_slot_obod {
	    position: absolute; top: 115px; left: 603px;
		width: 100px;
		height: 10px;
		border: 3px solid #1B1DB6;
		}
	#polosa_opit_slot_obod {height: 10px;}	
	#visual_level_god_obod {position: absolute; top: 123; left: 613; font-size: 10px;}
	#visual_item_god_obod {position: absolute; top: 123; left: 667; font-size: 10px;}
	
	
	#slot_chit {position: absolute; top: 10; left: 706; border: 3px solid blue;}
	#slot_chit_siluet {position: absolute; top: 18; left: 712;}		 
	.wrapper_opit_slot_chit {margin: 20px;}
	#bar_opit_slot_chit {
	    position: absolute; top: 115px; left: 706px;
		width: 100px;
		height: 10px;
		border: 3px solid #1B1DB6;
		}
	#polosa_opit_slot_chit {height: 10px;}	
	#visual_level_god_chit {position: absolute; top: 123; left: 717; font-size: 10px;}
	#visual_item_god_chit {position: absolute; top: 123; left: 777; font-size: 10px;}
	
	#slot_levoe_kolso {position: absolute; top: 130; left: 500; border: 3px solid blue;}
	#slot_levoe_kolso_siluet {position: absolute; top: 135; left: 505;}	
	.wrapper_opit_slot_levoe_kolso {margin: 20px;}
	#bar_opit_slot_levoe_kolso {
	    position: absolute; top: 230px; left: 500px;
		width: 100px;
		height: 10px;
		border: 3px solid #1B1DB6;
		}
	#polosa_opit_slot_levoe_kolso {height: 10px;}
    #visual_level_god_levoe_kolso {position: absolute; top: 238; left: 510; font-size: 10px;}
	#visual_item_god_levoe_kolso {position: absolute; top: 238; left: 570; font-size: 10px;}

	#slot_ojerelie {position: absolute; top: 130; left: 603; border: 3px solid blue;}
	#slot_ojerelie_siluet {position: absolute; top: 135; left: 609;}	
	.wrapper_opit_slot_ojerelie {margin: 20px;}
	#bar_opit_slot_ojerelie {
	    position: absolute; top: 230px; left: 603px;
		width: 100px;
		height: 10px;
		border: 3px solid #1B1DB6;
		}
	#polosa_opit_slot_ojerelie {height: 10px;}
    #visual_level_god_ojerelie {position: absolute; top: 238; left: 613; font-size: 10px;}
	#visual_item_god_ojerelie {position: absolute; top: 238; left: 667; font-size: 10px;}
	
	#slot_pravoe_kolso {position: absolute; top: 130; left: 706; border: 3px solid blue;}
	#slot_pravoe_kolso_siluet {position: absolute; top: 135; left: 712;}	
	.wrapper_opit_slot_pravoe_kolso {margin: 20px;}
	#bar_opit_slot_pravoe_kolso {
	    position: absolute; top: 230px; left: 706px;
		width: 100px;
		height: 10px;
		border: 3px solid #1B1DB6;
		}
	#polosa_opit_slot_pravoe_kolso {height: 10px;}
    #visual_level_god_pravoe_kolso {position: absolute; top: 238; left: 716; font-size: 10px;}
	#visual_item_god_pravoe_kolso {position: absolute; top: 238; left: 776; font-size: 10px;}

	
	#slot_braslet_leviy {position: absolute; top: 244; left: 500; border: 3px solid blue;}
	#slot_braslet_leviy_siluet {position: absolute; top: 249; left: 505;}	
	.wrapper_opit_slot_braslet_leviy {margin: 20px;}
	#bar_opit_slot_braslet_leviy {
	    position: absolute; top: 349px; left: 500px;
		width: 100px;
		height: 10px;
		border: 3px solid #1B1DB6;
		}
	#polosa_opit_slot_braslet_leviy {height: 10px;}	
	#visual_level_god_braslet_leviy {position: absolute; top: 358; left: 510; font-size: 10px;}
	#visual_item_god_braslet_leviy {position: absolute; top: 358; left: 570; font-size: 10px;}
	
	
	#slot_odejda {position: absolute; top: 244; left: 603; border: 3px solid blue;}
	#slot_odejda_siluet {position: absolute; top: 249; left: 609;}	
    .wrapper_opit_slot_odejda {margin: 20px;}
	#bar_opit_slot_odejda {
	    position: absolute; top: 349px; left: 603px;
		width: 100px;
		height: 10px;
		border: 3px solid #1B1DB6;
		}
	#polosa_opit_slot_odejda {height: 10px;}	
	#visual_level_god_odejda {position: absolute; top: 358; left: 613; font-size: 10px;}
	#visual_item_god_odejda {position: absolute; top: 358; left: 673; font-size: 10px;}
	

	#slot_braslet_praviy {position: absolute; top: 244; left: 706; border: 3px solid blue;}
	#slot_braslet_praviy_siluet {position: absolute; top: 249; left: 712;}	
	.wrapper_opit_slot_braslet_praviy {margin: 20px;}
	#bar_opit_slot_braslet_praviy {
	    position: absolute; top: 349px; left: 706px;
		width: 100px;
		height: 10px;
		border: 3px solid #1B1DB6;
		}
	#polosa_opit_slot_braslet_praviy {height: 10px;}	
    #visual_level_god_braslet_praviy {position: absolute; top: 358; left: 716; font-size: 10px;}
	#visual_item_god_braslet_praviy {position: absolute; top: 358; left: 776; font-size: 10px;}


		 
	.wrapper_opit_level_heroes {margin: 20px;}		 
	#bar_opit_level_heroes {
		position: absolute; top: 570px; left: 3px;
		width: 800px;
		height: 20px;
		border: 6px solid #1B1DB6;	
	}		 
	#visual_opit_god_1 {position: absolute; top: 576; left: 390;}		 
	#polosa_opit_level_heroes {height: 20px;}			 
			 
			 
	 
	 
	 
	 
		#God {position: absolute; top: 100px; left: 100px;}
	    #God_Opisanie {position: absolute; top: 100px; left: 300px;}
		#God_Bonus {position: absolute; top: 100px; left: 400px;}
	    #God_New_Game {position: absolute; top: 100px; left: 500px; background-color: #F4FC04;}
	   
		
		#Prins {position: absolute; top: 300px; left: 100px;}
		#Prins_Opisanie {position: absolute; top: 300px; left: 300px;}
		#Prins_Bonus {position: absolute; top: 300px; left: 400px;}
		#Prins_New_Game {position: absolute; top: 300px; left: 500px; background-color: #F4FC04;}
		
		
		#Skitales {position: absolute; top: 500px; left: 100px;}
		#Skitales_Opisanie {position: absolute; top: 500px; left: 300px;}
		#Skitales_Bonus {position: absolute; top: 500px; left: 400px;}
		#Skitales_New_Game {position: absolute; top: 500px; left: 500px; background-color: #F4FC04;}
		
					
		
		.SkritAll {display: none;}
		a.PokazBlok:hover+div {display: block;}
		
		#knopka_exit {position: absolute; top: 1px; left: 795px; cursor: pointer;}
		
		
		


#all_panel_v_klass {
width: 800px;
height: 40px;
padding: 5px;
border: 5px solid blue;
background: url(nebo_002.jpg);
-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	
		
}



#b_panel_v_klass {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:none;
background: grey;
z-index:1;

}
#a_panel_v_klass {
border:1px solid black;
position:fixed;
z-index:3;
display:none;
}

a_panel_v_klass.pages
{
background: #97cdff;
color: white;
padding: 4px;
text-decoration: none;

}
a_panel_v_klass:hover.pages
{
background: red;
color: white;
padding: 4px;
text-decoration: none;

}	


/* Модальное окно выбор класса Бог */
 
#b_god 
{
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:none;
background: grey;
z-index:3;
}

#a_god  
{
border:1px solid black;
position:fixed;
z-index:5;
display:none;
}

a_god .pages
{
background: #97cdff;
color: white;
padding: 4px;
text-decoration: none;
}

a_god :hover.pages
{
background: red;
color: white;
padding: 4px;
text-decoration: none;
}


























#windows_osnova_panelll {
width: 800px;
height: 50px;
padding: 5px;
border: 5px solid blue;
background: url(nebo_002.jpg);
-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}	
#b_osnova_panel {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:none;
background: grey;
z-index:1;
}
#a_osnova_panel {
border:1px solid black;
position:fixed;
z-index:3;
display:none;
}
a_osnova_panel.pages
{
background: #97cdff;
color: white;
padding: 4px;
text-decoration: none;
}
a_osnova_panel:hover.pages
{
background: red;
color: white;
padding: 4px;
text-decoration: none;

}	


















		
	
#windows_osnovnoe {
width: 800px;
height: 600px;
padding: 5px;
border: 5px solid blue;
background: url(nebo_002.jpg);
-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;


}	
#b_001 {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:none;
background: grey;
z-index:1;

}
#a_001 {
border:1px solid black;
position:fixed;




z-index:3;
display:none;
}

a_001.pages
{
background: #97cdff;
color: white;
padding: 4px;
text-decoration: none;

}
a_001:hover.pages
{
background: red;
color: white;
padding: 4px;
text-decoration: none;

}	
		


		
#b_002 {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:none;
background: grey;
z-index:2;
}
#a_002 {
border:1px solid black;
position:fixed;
background: #eff7ff;
z-index:4;
display:none;

}
a_002.pages
{
background: #97cdff;
color: white;
padding: 4px;
text-decoration: none;
}
a_002:hover.pages
{
background: red;
color: white;
padding: 4px;
text-decoration: none;
}			
		
			
		
#b_003 {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:none;
background: grey;
z-index:3;
}
#a_003 {
border:1px solid black;
position:fixed;
background: #eff7ff;
z-index:5;
display:none;
}
a_003.pages
{
background: #97cdff;
color: white;
padding: 4px;
text-decoration: none;
}
a_003:hover.pages
{
background: red;
color: white;
padding: 4px;
text-decoration: none;
}			
			
		
		
#b_004 {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:none;
background: grey;
z-index:4;
}
#a_004 {
border:1px solid black;
position:fixed;
background: #eff7ff;
z-index:6;
display:none;
}
a_004.pages
{
background: #97cdff;
color: white;
padding: 4px;
text-decoration: none;
}
a_004:hover.pages
{
background: red;
color: white;
padding: 4px;
text-decoration: none;
}		
		


#b_005 {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:none;
background: grey;
z-index:5;
}
#a_005 {
border:1px solid black;
position:fixed;
background: #eff7ff;
z-index:7;
display:none;
}
a_005.pages
{
background: #97cdff;
color: white;
padding: 4px;
text-decoration: none;
}
a_005:hover.pages
{
background: red;
color: white;
padding: 4px;
text-decoration: none;
}		
		



#b_006 {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:none;
background: grey;
z-index:6;
}
#a_006 {
border:1px solid black;
position:fixed;
background: #eff7ff;
z-index:8;
display:none;
}
a_006.pages
{
background: #97cdff;
color: white;
padding: 4px;
text-decoration: none;
}
a_006:hover.pages
{
background: red;
color: white;
padding: 4px;
text-decoration: none;
}		
		



#b_007 {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:none;
background: grey;
z-index:7;
}
#a_007 {
border:1px solid black;
position:fixed;
background: #eff7ff;
z-index:9;
display:none;
}
a_007.pages
{
background: #97cdff;
color: white;
padding: 4px;
text-decoration: none;
}
a_007:hover.pages
{
background: red;
color: white;
padding: 4px;
text-decoration: none;
}					
		


		
#bitva {
width: 800px;
height: 600px;
padding: 5px;
border: 5px solid blue;
background: url(bitva_nad_terras.jpg);
-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;		
		
}		
		

#b_008 {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:none;
background: grey;
z-index:8;
}
#a_008 {
border:1px solid black;
position:fixed;
background: #eff7ff;
z-index:10;
display:none;
}
a_008.pages
{
background: #97cdff;
color: white;
padding: 4px;
text-decoration: none;
}
a_008:hover.pages
{
background: red;
color: white;
padding: 4px;
text-decoration: none;
}			




		
#windows_boevoe {
width: 800px;
height: 600px;
padding: 5px;
border: 2px solid blue;

}				
#b_009 {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:none;
background: grey;
z-index:9;
}
#a_009 {
border:1px solid black;
position:fixed;
background: #eff7ff;
z-index:11;
display:none;
}
a_009.pages
{
background: #97cdff;
color: white;
padding: 4px;
text-decoration: none;
}
a_009:hover.pages
{
background: red;
color: white;
padding: 4px;
text-decoration: none;
}			
		
		


/* применение значения к модальному окну Карты Мира*/
#all_world_terras {
width: 800px;
height: 600px;
padding: 5px;
border: 5px solid blue;

	
		
}		
		
		
#b_010 {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:none;
background: grey;
z-index:10;
}
#a_010 {
border:1px solid black;
position:fixed;
background: #eff7ff;
z-index:12;
display:none;
}
a_010.pages
{
background: #97cdff;
color: white;
padding: 4px;
text-decoration: none;
}
a_010:hover.pages
{
background: red;
color: white;
padding: 4px;
text-decoration: none;
}			
		
		
		

			
#b_010_oblast {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:none;
background: grey;
z-index:11;
}
#a_010_oblast {
border:1px solid black;
position:fixed;
background: #eff7ff;
z-index:13;
display:none;
}
a_010_oblast.pages
{
background: #97cdff;
color: white;
padding: 4px;
text-decoration: none;
}
a_010_oblast:hover.pages
{
background: red;
color: white;
padding: 4px;
text-decoration: none;
}		
		
		
#b_010_raion {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:none;
background: grey;
z-index:12;
}
#a_010_raion {
border:1px solid black;
position:fixed;
background: #eff7ff;
z-index:14;
display:none;
}
a_010_raion.pages
{
background: #97cdff;
color: white;
padding: 4px;
text-decoration: none;
}
a_010_raion:hover.pages
{
background: red;
color: white;
padding: 4px;
text-decoration: none;
}				
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		






		
#b_011 {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:none;
background: grey;
z-index:11;
}
#a_011 {
border:1px solid black;
position:fixed;
background: #eff7ff;
z-index:13;
display:none;
}
a_011.pages
{
background: #97cdff;
color: white;
padding: 4px;
text-decoration: none;
}
a_011:hover.pages
{
background: red;
color: white;
padding: 4px;
text-decoration: none;
}				
#visual_lot_01 {position: absolute; top: 300; left: 100;}
#visual_lot_02 {position: absolute; top: 300; left: 200;}
#visual_lot_03 {position: absolute; top: 300; left: 300;}
#visual_lot_04 {position: absolute; top: 300; left: 400;}
#visual_lot_05 {position: absolute; top: 300; left: 500;}
#visual_lot_06 {position: absolute; top: 300; left: 600;}
#visual_lot_07 {position: absolute; top: 300; left: 700;}		
		
		
#visual_lot_all	{position: absolute; top: 400; left: 390;}	
		

	
#b_god 
{
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:none;
background: grey;
z-index:12;
}

#a_god  
{
border:1px solid black;
position:fixed;
z-index:14;
display:none;
}

a_god .pages
{
background: #97cdff;
color: white;
padding: 4px;
text-decoration: none;
}

a_god :hover.pages
{
background: red;
color: white;
padding: 4px;
text-decoration: none;
}	
 


 
 		
	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	