

#visual_hp_mob_0001 {position: absolute; top: 100px; left: 650px; }

#visual_all_god_hp {position: absolute; top: 100px; left: 30px; }



#visual_batle_button_ataka {position: absolute; top: 400px; left: 30px; }
#visual_batle_button_jar_ataka {position: absolute; top: 400px; left: 230px; }
#visual_batle_button_zachita {position: absolute; top: 400px; left: 430px; }
#visual_batle_button_zaklinanie {position: absolute; top: 400px; left: 630px; }

